

.transform {
  -ms-transform: translate(100px,100px); /* IE 9 */
  -webkit-transform: translate(50px,100px); /* Safari */
    transform: translate(0px,0px);

  -ms-transform: scale(2,2); /* IE 9 */
  -webkit-transform: scale(2,3); /* Safari */
    transform: scale(2,2);
}

.keys {
  color: white;
  font-family: sans-serif;
  font-size: 30px;
}



.scores {
  position: absolute;
}
.score2 {
  left: 50px;
}

.directions {
  top: 800px;
  text-align: center;
  font-family: sans-serif;
  width: 200px;
}

.leftPlayer {
  position: absolute;
  left: 5%;
  color: hotpink;
}

.rightPlayer {
  position: absolute;
  left: 60%;
  color: orange;
}

.key1 {
  top: 250px;
  left: 750px;
  position: absolute;
}

.key2 {
  top: 250px;
  left: 350px;
  position: absolute;
}

.string1 {
  position: absolute;
  top: 300px;
  left: 150px;
}

.string2 {
  position: absolute;
  top: 300px;
  left: 750px;
}

.container {
  width: auto;
  margin-left: 200px;
}

.pink-container {
  width: 300px;
  height: 300px;
  position: relative;
  display: inline;
}

.orange-container {
  width: 300px;
  height: 300px;
  position: relative;
  display: inline;
}


.monkey {
  width: 110px;
  height: 110px;
  top: 300px;
  left: 900px;
  position: absolute;
}

.monkey-svg {
  width: 100px;
  height: 100px;
}

.body {
  width: 100px;
  height: 100px;
  top: 300px;
  left: 100px;
  position: absolute;
}

.armsdown {
  width: 50px;
  height: 50px;
  top: 350px;
  left: 125px;
  position: absolute;
}

.armsup {
  width: 50px;
  height: 50px;
  top: 350px;
  left: 125px;
  position: absolute;
}

.invisible {
  opacity: 0;
}
.fade-in {
  transition: opacity 3s;
}

/*.balloon1_container{
  height: 300px;
  width: 300px;
  position: absolute;
  border: 1px solid black;
}*/
.background {
  position: absolute;
}
/*body {
  background-color: lightblue;
}*/
